@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

body {
    font-family: GT America, Quicksand, monospace;
    background-color: rgba(248, 235, 235, 0.7);
    margin: 0;
}


/* set up the sigin, products, contact and home*/
.header-top {
    height: 60px;
    position: relative;
}

.header-top {
    margin-top: 1px;
    border-top: 1px;

}

h1 {
    font-size: 40px;
    text-transform: uppercase;
    margin-top: 0;
    border: 0;
    margin-left: 20px;
    margin-bottom: 0;
    float: left;
    font-weight: bold;
}




.header-nav {
    top: 0;
    right: 0;
    height: 100%;
    top: 3px
}


.header-nav ul {
    margin: 1px;
    padding: 10px;
}

.header-nav li {
    list-style: none;
    float: right;
    margin: 0px 3px 0 0;
    padding: 12px;
    box-sizing: border-box;
}

.header-nav a {
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 1px;
    transition: color 0.3s;

}

.header-nav a:hover {
    color: rgba(241, 109, 107, .7);
}


.imgtop {
    height: 900px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.imglogo {
    width: 100%;
    height: 900px;


}


.featured {
    text-align: center;
    font-size: 25px;
}



/*gallery 1 and 4 pictures to show the feature prodcuts**/
.gallery {
    color: #555;
    padding-left: 50px;
    margin: 5px;
}

.gallery-card {
    min-width: 200px;
    max-width: 52em;
    display: inline-block;
    text-align: center;
    padding: 2px;
    margin-left: 60px;
}



.img1 {
    width: 360px;
    border: 3px solid rgba(241, 186, 185, 0.7);
    border-radius: 20px;
}



/* video attached showing about product*/

.about {
    border: 0px solid black;
    margin: 10px;
    padding: 90px;
}

.about {
    background-image: url(../imagens/backgroun_2.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
    padding: 90px;
    background-size: cover;
}

.video-umbrella {
    text-align: center;
}

.video {
    width: 100%;
    height: 800px;
}

.about h2 {
    text-transform: uppercase;
    font-size: 30px;
    color: #000000;
    text-align: center;
}



/*umbrella products*/

#gallery2 {
    color: #555;
    overflow: auto;
}
#gallery2 h2{
    text-align: center;
    font-size: 40px;
}

.gallery-card2 {
    display: inline-block;
    margin-left: 150px;
    margin-top: 0px;
}

.img2:hover {
    box-shadow: 0 0 14px rgba(241, 109, 107, .7);
    border: solid 3px rgba(241, 109, 107, .7);
}



.img2 {
    width: 400px;
    margin: 15px;
    border-radius: 20px;
    border: 3px solid rgba(241, 186, 185, 0.7);
    transition: all 0.2s linear;
}


/*umbrella gallery*/

.Umbrella-gallery{
    width: 90%;
    margin: auto; 
}


/* image 1 women walking in street with an umbrella  and explanation of product be side*/

.gallery5 {
    color: #555;
    margin: 50px 0 0 0;
}

.gallery-card3 {
    float: left;
    margin-right: -2px;
    margin-left: 20px;
    margin-top: 2px;
    border: 3px solid white;
    border-radius: 10px;
}

.gallery-card3 h3 {
    text-align: center;
}

.gallery-card3 P {
    text-align: center;
}




/* image 2 women walking in street with an umbrella  and explanation of product be side*/




.gallery-card-left {
    float: left;
    margin-right: -2px;
    margin-left: 2px;
    margin-top: 2px;
    top: 20px;
    border: 3px solid white;
    border-radius: 10px;
}

.gallery-card-left h3 {
    text-align: center;
}

.gallery-card-left P {
    text-align: center;
}




/* 3- women and man sitting in park bench*/


.gallery-card-labs-chair {
    float: left;
    margin-right: -2px;
    margin-left: 2px;
    margin-top: 2px;
    border: 3px solid white;
    border-radius: 10px;
}

.gallery-card-labs-chair {
    text-align: center;
}


.gallery-card-labs-chair P {
    text-align: center;
}

.clear {
    clear: both;
}


.image7 {
    width: 620px;
    height: 460px;
}

.img5 {
    width: 620px;
    height: 460px;
}

/*woman oppening  the umbrella*/
.container-umbrella-woman{
    display: inline-block;
    margin-left: 40px;
    margin-top: 10px;
}

.image8 {
    width: 370px;
    margin-left: -5px;
}

/* bottom of page */

footer {
    background-color: rgba(241, 186, 185, 0.7);
    padding: 1px;
    text-align: center;
    bottom: 0px;
    right: 0px;
    width: 100%;
    margin-top: 15px;
}

footer>span {
    color: black;
    text-transform: uppercase;
    text-align: center;
}



footer>p {
    color: black;
    text-transform: uppercase;
}


.social-networks{
    padding-left: 0px;
}
.social-networks li {
    display: inline-block;
    width: 40px;
    font-size: 40px;
    color: black;
}


.social-networks li{
    margin-left: 10px;
}

.address {
    color: black;
    font-size: 15px;
}


/*form*/


.signup-form {
    margin: 100px 5% 0 0;
    color: #fff;
    background-color: rgba(241, 160, 158, 0.7);
    max-width: 400px;
    position: relative;
    left: 6%;
    padding: 30px;
    margin-left: 30%;
    border-radius: 30px;
    margin-bottom: 300px;
    margin-top: 300px;
}

.signup-form > h2 {
    color: #000000;
    margin-bottom: 20px;
    margin-left: 60px;
}

.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
}

.text-input:hover {
    border-color: #e9bfbf;
}

.join-button {
    margin-top: 20px;
    margin-left: 140px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #ef9191;
    color: #000000;
    display: block; 
}

.join-button:hover {
    background-color: #fafafa;
    color: #f16c6b;
}




/* Media queries */

/* For larger to medium screens size from 1200px wide and down */


@media screen and (max-width: 1636px) {
 .gallery-card {
        margin-left: 20px;
 }

.img1 {
        width: 300px
 }

.gallery-card2 {
        margin-left: 40px;
}

 .gallery-card3 {
        margin-left: 10px;
 }

.gallery-card-left {
        margin-left: 0px;
}

.gallery-card-labs-chair {
        margin-left: 0px;
}

.image7 {
        width: 490px;
        height: 370px;
}

.img5 {
    width: 490px;
    height: 370px;

}
.image8{
     width: 290px;
 }

 .umbrella-content{
    margin-left: auto;
}

}


@media screen and (max-width: 1440px) {

    .gallery-card2 {
        margin-left: 40px;
    }

    .img2 {
        width: 350px;
    }

    .gallery-card3 {
        margin-left: 15px;
    }


    .gallery-card-left {
        margin-left: 0px;
    }

    .gallery-card-labs-chair {
        margin-left: 0px;
    }

   
    .image7 {
        width: 455px;
        height: 320px;
    }

    .img5 {
        width: 455px;
        height: 320px;

    }

    .image8{
        width: 270px;

    }

    .umbrella-content{
        margin-left: auto;
    }
    
}

@media screen and (max-width: 1280px){
    .img2{
        width: 300px;
    }
    .img1{
        width: 250px;
    }

    .image8{    
        width: 240px;
    }
    .form-umbrella{
        margin: auto;
    }
    .form-umbrella{
        margin: auto;
    }
    .umbrella-content{
        margin-left: auto;
    }
    
}

@media screen and (max-width: 1217px) {

    .img1{
        width: 220px;
    }
   
    .img2{
    width: 220px;
    }
    .gallery-card2 {
        margin-left: 90px;
    }

    .gallery-card {
        margin-left: 20px;
    }

    .gallery-card3 {
        margin-left: 0px;
    }

    .gallery-card-left {
        margin-left: 0px;
    }

    .gallery-card-labs-chair {
        margin-left: 0px;
    }


    .imgtop {
        height: 55%;
    }

    .imglogo {
        height: 55%;
    }

    .image8{
        width: 210px;
    }
    .umbrella-content{
        margin-left: auto;
    }
    
}

@media screen and (max-width: 950px) {
    .img1{
        width: 200px;
    }

    .img2{
        width: 200px
    }

    .gallery-card {
        margin: auto;
    }

    .gallery-card2 {
        margin-left: 50px;
    }

    .gallery-card3 {
        margin-left: 0px;
    }

    .gallery-card-left {
        margin-left: 0px;
    }

    .gallery-card-labs-chair {
        margin-left: 220px;
    }
    
    .image8{
        width: 170px;
    }
    .umbrella-content{
        margin-left: auto;
    }
    
}




@media screen and (max-width: 880px) {

    .img1{
        width: 230px;
    }
    .imgtop {
        max-width: 100%;
        min-width: 65%;
        height: 65%;
    }

    .imglogo {
        width: 100%;
        height: 65%;
    }

    .gallery-card {
        margin-left: 60px;
    }
    .gallery-card2 {
        margin-left: 50px;
    }

    /*video*/
    .about {
        height: 600px;
    }

    .video {
        height: 500px;
    }

    .gallery-card3 {
        margin-left: 130px;
    }

    .gallery-card-left {
        margin-left: 130px;
    }

    .gallery-card-labs-chair {
        margin-left: 130px;
    }

    .img2 {
        width: 270px;
    }
    .image8{
        width: 150px;
    }
    .container-umbrella-woman{
        margin: auto;
        margin-left: 40px;

    }
}


@media screen and (max-width: 800px) {

    .img1{
        width: 230px;
    }
    .imgtop {
        max-width: 100%;
        min-width: 65%;
        height: 75%;
    }

    .imglogo {
        width: 100%;
        height: 75%;
    }

    .gallery-card {
        margin-left: 60px;
    }
    .gallery-card2 {
        margin-left: 50px;
    }

    /*video*/
    .about {
        height: 600px;
    }

    .video {
        height: 500px;
    }

    .gallery-card3 {
        margin-left: 130px;
    }

    .gallery-card-left {
        margin-left: 130px;
    }

    .gallery-card-labs-chair {
        margin-left: 130px;
    }

    .img2 {
        width: 270px;
    }
    .image8{
        width: 140px;
    }
    .umbrella-content{
        margin-left: auto;
    }
    
    .form-umbrella{
        margin-left: 20px;
    }
    .signup-form{
        margin-left: 20px;
    }
}


@media screen and (max-width: 559px){
    
    
      .header-top{
          text-align: center;
      }
  
  
      .gallery-card{
          margin-left: auto;
      }
  
      .img1{
          width: 200px;
          height: 300px;
      }
  
      .featured h2{
         font-size: 25px;
         padding-left: 1px;
      }
  
      .gallery-card2{
          margin: auto;
      }

      .gallery-card3{
        margin-left: auto;
        border: none;
      }
      .gallery-card-left{
        margin-left: auto;
        border: none;
      }
      .gallery-card-labs-chair{
        margin-left: auto;
        border: none;
      }
  
      .about{
          height: 400px;
      }
  
      .about h2{
          font-size: 20px;
      }
     
      .video {
          width: 250px;
          height: 250px;
      }
  
      .video {
      margin-left: -60px;
      }
  
      .image7 {
          width: 320px;
          height: 280px;
      }
  
      .img5 {
          width: 320px;
          height: 280px;
      }
      
      .image8{
          width: 200px;
          margin-left: auto;
      }
      .umbrella-content{
        margin-left: auto;
    }
    
  }


@media screen and (max-width: 392px){
 
    .header-top h1{
        flex-direction: column;
        text-align: center;
    }

    .header-nav li{
        flex-direction: column;
        align-items: unset;
        float: none;
        text-align: center;
    }

    .header-nav a {
        font-size: 30px;
    }

    
    .smart-umbrella-top{
        align-items: center;
        justify-content: center;
        padding: 10px;
        font-size: 200%;
        text-align: center;
        display: flex;
        background-color: rgb(3, 0, 0);
    }
    .featured > h2{
        font-size: 15px;text-align: center;
    }
        
    #gallery2 > h2{
        font-size: 15px;
    }
    
    .imgtop{
        top: 7em;
    }

    .header-top{
        text-align: center;
    }

    .header-nav a{
        font-size: 15px;
    }

    .gallery-card{
        margin-left: 60px;
    }

    .img1{
        width: 160px;
        height: 230px;
    }

    .gallery{
       padding-left: 0px;
       margin-top: 150px;
    }

    .gallery-card2{
        margin: auto;
    }

    .gallery-card p{
        padding: 2px;
        border: #555;
    }
    .about{
        height: 400px;
    }

    .about h2{
        font-size: 12px;
    }
   
    .video {
        width: 250px;
        height: 250px;
    }

    .video {
    margin-left: -60px;
    }

    .image7 {
        width: 320px;
        height: 280px;
    }

    .img5 {
        width: 320px;
        height: 280px;
    }
    
    .img2{
        width: 200px;
    }
    .gallery-card2{
        margin-left: 60px;
    }
  
    .gallery-card-left{
        margin-left: 30px;
        border: none;
    }
    .gallery-card-labs-chair{
        margin-left: 30px;
        border: none;
    }
    .gallery-card3{
        margin-left: 30px;
        border: none;
    }
  
    .form-umbrella{
        margin-left: auto;
        padding-left: 0;
    }
    .container-umbrella-woman{
        margin-left: 70px;
    }   

    .join-button{
        margin: auto;
       
    }

}
